@use 'sass:map';
@mixin trans($prop: all, $time: .3s, $easing: ease) {
	transition: $prop $time $easing;
}

$breakpoints: (
	'sp': 'all and (max-width: 599px)',
	'tb': 'all and (min-width: 600px)',
	'pc': 'all and (min-width: 1025px)',
) !default;

@mixin mq($breakpoint: pc) {
    @if map.has-key($breakpoints, $breakpoint) {
        @media #{map.get($breakpoints, $breakpoint)} {
            @content;
        }
    } @else {
        @error "指定されたブレイクポイント '#{$breakpoint}' は定義されていません。";
    }
}
@mixin transform($value) {
	transform: $value;
}


@mixin en{
	font-family: 'Oswald', sans-serif;
}

@mixin skew($deg: -3.5deg) {
    transform: skewY($deg);
    transform-origin: left top;
    .inner {
        transform: skewY($deg * -1); // 反対方向に自動計算
    }
}

@mixin bold{
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
	font-weight: bold;
}
