@charset "utf-8";
$clr_black: #333;
$clr_border: #888;
$contents_width: 1200px;
$green: #18a357;
$orange: #ee711e;
$brown: #4d372a;
$red: #d4000f;
$key: #1d8f59;
$base: #1f1f1f;
$white: #fff;
$beige: #d7d0be;
